<section class="intro">
  <div class="container" style="">
    <div class="author-img" style="width:100px;height:100px;background:grey;display:inline-block;">
      <img src="/assets/images/author.jpg" style="width:100px;height:100px;">
    </div>
    <p class="lead" style="position:absolute;margin-top:-100px;margin-left:110px;">Hi, I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>, a <em itemprop="jobTitle">{{ site.author.job }}</em>. <br>
    {{ site.author.bio }} -- <a href="/about" target="_blank">about me</a></p>
  </div>
</section>
